.header {
    padding-top: 45px;
    &-main {
        padding-bottom: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }
    &-bars {
        display: block;
        text-align: center;
        width: 50px;
        height: 50px;
    }
    &-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    @media screen and (max-width: 767px) {
        padding: 30px 0;
    }
    @media screen and (min-width: 1024px) {
        &-bars {
            display: none;
        }
    }
    @media screen and (max-width: 1023px) {
        &-bars {
            display: block;
        }
    }
}